/* Spacer between Contact and Signup buttons */
.button-spacer {
    width: 16px;
  }

  /* Text buttons (Home, Delay Report, etc.) */
  .text-button {
    color: white;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    margin: 0 8px;
    transition: background-color 0.3s ease;
  }
  
  .text-button:hover {
    background-color: rgba(78, 38, 38, 0.1); /* Light hover effect */
  }

  .container {
    padding: 16px;
  }
  

  .mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  .filter-container {
    display: flex;
    align-items: center; 
    gap: 12px;
    width: 100%;
  }
  
  .filter-input {
    flex: 1;
  }
  
  .filter-input .mat-form-field-wrapper {
    padding-bottom: 0;
  }
  
  .filter-input .mat-form-field-flex {
    align-items: center; 
    height: 40px;
    padding: 0 8px;
  }
  
  .add-record-button {
    background-color: #007bff; 
    color: white; 
    border: none; 
    padding: 0 20px; 
    height: 40px;
    font-weight: bold; 
    border-radius: 4px;
    cursor: pointer; 
    transition: background 0.3s ease-in-out; 
    display: flex;
    align-items: center; 
    justify-content: center; 
    flex-shrink: 0; 
    margin-bottom: 10px;
  }
  
  .add-record-button:hover {
    background-color: #0056b3;
  }